BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Always
AllowShortFunctionsOnASingleLine: All
AllowShortCaseLabelsOnASingleLine: true
SpacesBeforeTrailingComments: 1
SpaceAfterCStyleCast: false
BreakBeforeBraces: Attach
AllowShortBlocksOnASingleLine: Never
ColumnLimit: 0
IndentCaseLabels: false
AlignAfterOpenBracket: Align
AlignOperands: false
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpaceInEmptyParentheses: false
Cpp11BracedListStyle: false
AllowAllParametersOfDeclarationOnNextLine: false
IncludeBlocks: Preserve
PointerAlignment: Right
IndentExternBlock: NoIndent
SortIncludes: Never
