[submodule "camlib"]
	path = libs/libpict
	url = https://github.com/petabyt/camlib
[submodule "libs/libwpd"]
	path = libs/libwpd
	url = https://github.com/petabyt/libwpd
[submodule "libs/rim"]
	path = libs/rim
	url = https://github.com/petabyt/rim/
[submodule "libs/libui-dev"]
	path = libs/libui-dev
	url = https://github.com/petabyt/libui-dev/
