name: Makefile CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    
    - name: Install deps
      run: sudo apt install libusb-dev gcc libgtk-3-dev
    
    - name: Compile
      run: make unix-gtk
